<!DOCTYPE html>
<html lang="zh-hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>客服中心</title>
    <link rel="stylesheet" href="./css/first.css" />
    <!-- 導入Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
     
    <!-- 導入jQuery -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  
  <body>
<!-- header -->
  <div id="header-container"></div>

<!-- body -->
    <div class="grid-container">
    <a href="./FAQ_my_account.html" class="grid-item">
        <img src="./img/my_account.png" alt="我的帳號"/>
        <p>我的帳號</p>
      </a>
      <a href="./FAQ_platform_rules.html" class="grid-item">
        <img src="./img/platform_rules.png" alt="平台守則" />
        <p>平台守則</p>
      </a>
      <a href="./FAQ_buyer.html" class="grid-item">
        <img src="./img/buyer.png" alt="我是買家" />
        <p>我是買家</p>
      </a>
      <a href="./FAQ_seller.html" class="grid-item">
        <img src="./img/seller.png" alt="我是賣家" />
        <p>我是賣家</p>
      </a>
      <a href="./other_issues.html" class="grid-item">
        <img src="./img/other_issues.png" alt="其他問題" />
        <p>其他問題</p>
      </a>
    </div>

    <div class="bottom-row">
        <a href="./other_help.html" class="bottom-buttons special-item">
            <img src="./img/other_help.png" alt="其他幫助" />
            <p>需要其他幫助...</p>
        </a>
        <a href="./Chat_Room.html" class="bottom-buttons special-item">
            <img src="./img/urgent_help.png" alt="及時幫助" />
            <p>需要及時幫助...</p>
        </a>
    </div>

<!-- footer -->
    <div id="footer-container"></div>

<!-- script -->
<script src="./js/HF.js"></script>

  </body>
</html>